@model Animal


<h1>Congrats on Adoption @Model.Name</h1>
<p>@Model.Name is happy to go home with you!</p>
<img height="100rem" src="@Model.Img"/>
<a class="nav-link text-dark p-0" asp-action="Index">Click to return home</a>